doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/assets/css/bootstrap.min.css')
    link(rel='stylesheet', href='/assets/css/bootstrap-theme.min.css')
    script(type='text/javascript' src='/assets/js/angular.min.js')
    script(type='text/javascript' src='/assets/js/angular-route.min.js')
    script(type='text/javascript' src='/assets/js/ui-bootstrap-tpls-0.14.3.min.js')
    script(type='text/javascript' src='/app/puppies.app.js')
    script(type='text/javascript' src='/app/puppies.ctrl.js')
    script(type='text/javascript' src='/app/puppies.svc.js')
  body
    block content
